/**
 * Created by hardikranjan on 29/03/20.
 */

.THIS {
}

@keyframes fadeIn {
  0% {
    z-index: 1;
    opacity: 0;
  }
  1% {
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    z-index: 1;
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    z-index: -1;
    opacity: 0;
  }
}

.THIS .rrssb-btn {
  display: inline-block;
  padding-right: 0.3rem;
}